.App {
  text-align: center;
  /* background-color: aqua; */
}
button:hover{
  background-color: orange;
  color: white;
  font-size: medium;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
border-radius: 50px;
box-shadow: 5px 10px 10px grey;
}
body{
  background-image: url(../public/images/tree.jpg);
  background-size: cover;
  object-fit: cover;
  background-attachment:fixed;
}
.h1{
  background-color: rgb(199, 21, 69);
  color: skyblue;
  display: inline-block;
  
}